<settings>
    <servers>
        <server>
            <id>maven-snapshots</id>
            <username>${env.nexus_username}</username>
            <password>${env.nexus_password}</password>
        </server>
        <server>
            <id>maven-releases</id>
            <username>${env.nexus_username}</username>
            <password>${env.nexus_password}</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>central</id>
            <name>central</name>
            <url>http://nexus:8081/repository/maven-central/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
</settings>